<p class="selected">Sei in: <a href="#/home">Home</a> - <b class="selectedpage">Chi Siamo</b></p>
<img class="img-responsive" src="img/chisiamo.jpg">
<h1 class="pagetitle">Chi Siamo</h1>

<p class="whois-text">ABITARE è un’arte, ben lungi dall’essere l’entità vuota e scontata del vivere quotidiano della quale crediamo di sapere tutto.</p>
<br>
<p class="whois-text2">Ideare una sistemazione che sia al contempo pratica, gradevole e comoda non è sempre facile e può essere utile, prima di prendere decisioni importanti, sentire il parere di un esperto.</p>

<img class="img-responsive" src="img/chisiamo-autore.jpg" class="whois-img">
<p class="whois-desc">Il nostro TEAM si occupa dello studio della distribuzione degli spazi, di ristrutturazioni e di arredamento.
  <br><br>
Il responsabile dello Studio è l’ Ing. Augusto Borzì (Laurea in Ingegneria Civile/Edile ad indirizzo Architettura e pianificazione) .
  <br><br>
In seguito alla vostra richiesta, ci metteremo in contatto con voi e, entro 24h, vi forniremo gratuitamente un preventivo relativo alla consulenza domandata.</p>
