<p class="selected">Sei in: <a href="#/home">Home</a> - <b class="selectedpage">Contatti</b></p>

<h1 class="pagetitle">Contatti</h1>

<div class="contact">
  <h5>1 – Inviaci la richiesta di preventivo gratuito</h5>
  <p>- specifica bene le tue esigenze ed indica le eventuali sorgenti d’<a href="http://www.rischio-elettromagnetico.it">inquinamento elettromagnetico</a> da cui ti vuoi proteggere;
    - utilizza l’apposito modulodi richiesta dove indicherai le tue richieste e lo stile che preferisci;
    - allega alla richiesta le fotografie degli ambienti e la planimetria quotata (con le misure delle stanze) dello stato di fatto con indicazione delle altezze, ubicazione di scarichi, canne fumarie, allacci acqua, gas, prese elettriche.</p>

  <h5>2 – Ricevi il preventivo dalla redazione di Progettazione Interni</h5>
  <p>In base al tipo di servizio scelto, al numero di ambienti che compongono l’unità immobiliare e alle tue richieste specifiche riceverai il preventivo gratuito con indicazione degli elaborati che riceverai e le modalità di pagamento.</p>

  <h5>3 – Effettua il pagamento</h5>
  <p>Dopo aver verificato ed accettato il preventivo ricevuto effettua il pagamento dell’acconto comodamente da casa tua con le modalità indicate nel preventivo stesso.</p>

  <h5>4 – Ricevi il tuo progetto da Progettazione Interni</h5>
  <p>Entro 20 giorni lavorativi dalla data di verifica dell’avvenuto pagamento riceverai via mail il progetto da te richiesto.</p>
</div>
<br>

<div class="contact">
  <h3>Modulo richiesta preventivo:</h3>
  <form action="send.php" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label>Nominativo:</label>
      <input type="text" class="form-control" placeholder="Nome e Cognome" name="nominativo" ng-model="formData.nominativo" required>
    </div>
    <div class="form-group">
      <label>Indirizzo email:</label>
      <input type="email" class="form-control" placeholder="esempio@gmail.com" name="email" ng-model="formData.email" required>
    </div>
    <div class="form-group">
      <label>Oggetto:</label>
      <input type="text" class="form-control" placeholder="Oggetto del messaggio" name="oggetto" ng-model="formData.oggetto" required>
    </div>
    <div class="form-group">
      <label>Messaggio:</label>
      <textarea class="form-control" rows="3" placeholder="Testo del messaggio" name="messaggio" ng-model="formData.messaggio" required></textarea>
    </div>
    <div class="form-group">
      <label for="exampleInputFile">Allegato</label>
      <input type="file" id="sfoglia" name="attachment">
      <p class="help-block">Gli utenti possono allegare i files nei seguenti tipi: html, txt, css, gif, png, jpeg, jpg, tiff, bmp, ai, eps, ps, rtf, pdf, doc, docx, xls, zip, rar, wav, mp3, ppt</p>
    </div>
    <button type="submit" class="btn btn-default btn-lg btn-block">Invia</button>
  </form>
</div>
