<div class="home-bottom">

  <div class="row home-black">
    <div class="col-xs-8">
      <p class="h3 titolo">Consulenza tecnica qualificata!</p>
      <p>ABITARE è un’arte, ben lungi dall’essere l’entità vuota e scontata del vivere quotidiano della quale crediamo di sapere tutto. Ideare una sistemazione che sia al contempo pratica, gradevole e comoda non è sempre facile e può essere utile, prima di prendere decisioni importanti, sentire il parere di un esperto.<br>
        <strong>Se stai per mettere su casa o vuoi rinnovare quella attuale, puoi richiedere una consulenza on-line ad un tecnico qualificato.</strong></p>
    </div>
    <div onClick="location.href='./#/contatti'" class="col-xs-4 riquadro-destro">
      <p class="h3 titolo">Preventivo gratuito</p>
      <p class="testo">In seguito alla vostra richiesta, ci metteremo in contatto con voi e, entro 24h, vi forniremo gratuitamente un preventivo relativo alla consulenza domandata.</p>
    </div>
  </div>

  <br>

  <div class="row">
    <p class="h3">> In primo piano</p>
    <hr>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6"><img src="img/18-275x175.png"></div>
        <div class="col-sm-6"><img src="img/soggiorno-275x175.gif"></div>
        <div class="col-sm-6"><img src="img/vista_alto-275x175.gif"></div>
        <div class="col-sm-6"><img src="img/camino-275x175.jpg"></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="riquadro-grigio hidden-xs">
        Quando contattare progettazione interni
        <ul>

          <li>Nuova distribuzione degli spazi per abitazioni già esistenti da rinnovare o ristrutturare</li>

          <li>Nuovo assetto abitativo di alloggi in costruzione per personalizzare e ottimizzare la distribuzione degli spazi proposta dall'impresa costruttrce;</li>

          <li>Ristrutturazione e progettazione
            di singoli ambienti</li>

          <li>Riorganizzazione e arredamento
            di spazi privati e pubblici</li>

          <li>Progettazione degli spazi e/o arredamento di unità abitative, di uffici o di studi professionali</li>

          <li>Progettazione di giardini</li>
        </ul>
      </div>
    </div>
  </div>

</div>
