<p>Per festeggiare il decennale del sito ci pregiamo di proporVi un evento imperdibile: </p>

la possibilità di ottenere  ...GRATUITAMENTE...   la prima fase del lavoro, ovvero lo studio della distribuzione degli spazi della Vostra casa, con le relative planimetrie quotate “A inizio lavori” o “Stato di fatto”,  “Durante i lavori”  e  “A fine lavori”.</p>

<p class="lead text-center">Si... avete capito bene <strong>GRATIS</strong></p>

<p>Le nostre planimetrie possono fungere pertanto da “consigli” da valutare in tutta tranquillità, senza nessun impegno e

<p class="lead text-center"><strong>SENZA NESSUNA SPESA</strong>.</p>

Potete visitare il <a target="_blank" href="http://ninopg.altervista.org/phpBB2/"><strong>forum</strong></a> oppure il <a target="_blank" href="./blog"><strong>blog</strong></a> per esaminare i nostri studi precedenti.
<br>
<br>
<p>Solo se valuterete positivamente le nostre idee potremo passare successivamente alla fase di dettaglio tecnico che prevede l'elaborazione delle planimetrie con i particolari dell'arredamento, le prospettive virtuali (RENDER) con i relativi punti di vista, eventuali sezioni di porzioni ritenute particolarmente interessanti, lo studio della tipologia e dell'ubicazione dei punti luce, eventuali particolari costruttivi, ecc.</p>
<br>
