<p class="h4" style="margin-top: 2px">Progetti 3D</p>
<a href="#/progetti-3D"><img class="img-responsive" src="img/progetti3d.jpg"></a>
<a href="#/progetti-3D"><p class="low-size">vedi alcuni progetti di interni in 3D →</p></a>
<h4>Progettazione Interni</h4>
<p>Il nostro TEAM si occupa dello studio della distribuzione degli spazi, di ristrutturazioni e di arredamento.

Il responsabile dello Studio è l' Ing. Augusto Borzì (Laurea in Ingegneria Civile/Edile ad indirizzo Architettura e pianificazione) .
</p>

<h4>Risponde L'esperto</h4>
<p>Gratuitamente un professionista abilitato risponderà alle tue domande, dandoti idee e consigli, cercando di chiarire i tuoi dubbi: <!--email_off--><a href="mailto:info@progettazione-interni.com">info@progettazione-interni.com</a><!--/email_off--></p>
