<h4>Progetti 3D</h4>
<a href="#/progetti-3D"><img class="img-responsive" src="img/progetti3d.jpg"></a>
<a href="#/progetti-3D"><p class="low-size">vedi alcuni progetti di interni in 3D →</p></a>
<br>
<h4>Progettazione Interni</h4>
<p>Il nostro TEAM si occupa dello studio della distribuzione degli spazi, di ristrutturazioni e di arredamento.

Il responsabile dello Studio è l' Ing. Augusto Borzì (Laurea in Ingegneria Civile/Edile ad indirizzo Architettura e pianificazione) .
</p>

<p class="h5">Scopri la nostra <a class="opzione-gratis-sidebar" href="./#/opzione-gratis"><strong>opzione gratis</strong></a></p>
<br>
