<h1 class="pagetitle">Riorganizzazione di un rustico</h1>

<h3>Riorganizzazione di un rustico</h3>
<p>Circa un anno fa ho acquistato una casa in montagna per trascorrervi con la mia famiglia i mesi più caldi dell’anno.<br>
  La casa, di circa 70 mq, comprende due piccole camere da letto, un bagno, una piccola lavanderia limitrofa al bagno e un soggiorno che comprende anche la zona cucina. Vorrei dotare il soggiorno, riorganizzandone la distribuzione, di un camino che potrebbe contribuire a rendere la casa abitabile anche d’inverno e realizzare un angolo cottura che non sia visibile direttamente. Oltre alla semplice ubicazione, desidererei ricevere un disegno che descrive in dettaglio il caminetto da costruire.<br><br>

  [Carlo, Avezzano (AQ) ]</p>

<img src="img/progetti/stato-di-fatto-rustico.gif" class="img-responsive">

<h3>La consulenza di Progettazione-interni</h3>
<p>
  Prendendo in esame il problema proposto dal sig, Carlo innanzi tutto risalta nettamente l’intollerabile interferenza tra funzioni incompatibili tra di esse.<br>
  Si è proceduto quindi ad un’attenta disamina delle funzioni che si svolgono negli ambienti dell’abitazione , raggruppando in vari gruppi -o ambiti- quelle compatibili fra di esse.
  Da questo studio preliminare si sono delineati tre ambiti: l’”ambito ingresso”, l’”ambito soggiorno” e l’”ambito cucina”.<br>
  Ciascuno di essi, pur ospitando funzioni diverse e, per questo, distinguendosi dagli altri, non è concepito come rigidamente separato dagli altri due, ma viceversa vi si collega diversamente.<br>
  Il collegamento tra i vari ambienti è talora diretto (infatti l’indefinita linea di separazione tra l’ambito ingresso e l’ambito soggiorno è estremamente flessibile, potendo variare a secondo delle necessità), talaltra può essere mediato da una parete con un’apertura (l’ambito soggiorno e l’ambito cucina sono divisi da un tramezzo dotato di un’ampia porta scorrevole che permette il collegamento diretto tra i due ambienti e, in caso di necessità, consente di separare i due ambienti, dando la possibilità di accogliere funzioni diverse, e favorendo la privacy dei fruitori dell’abitazione).<br>
  Si è deciso di collocare il caminetto nell’ambiente di soggiorno per diversi motivi:<br>
</p>
<ul>
  <li><p>1. innanzi tutto per l’esigenza espressa dalla committenza;</p></li>
  <li><p>2. per motivi contingenti di spazio;</p></li>
  <li><p>3.per dotare il soggiorno di un ulteriore elemento di rilievo, collocandolo in prossimità della TV, che rappresenta il tradizionale “centro di interesse” per quasi tutte le famiglie (affiancato oggi da nuove rampanti tecnologie). Il soggiorno, dotato di questo elemento, di per se stesso catalizzatore dell’attenzione e di grande impatto emotivo, assume, e lo rafforza definitivamente, il ruolo di “centro della casa”</p></li>
  <li><p>4. ultima in ordine, ma in realtà tra le prime, una motivazione di carattere tecnico: collocando il camino in una posizione centrale dell’abitazione, si favorisce la diffusione del calore nei vari ambienti.</p></li>
</ul>
<p>
  Si è curato di assegnare alla cucina una collocazione tale da essere del tutto appartatata e nascosta rispetto ad un occasionale visitatore che transiti temporaneamente negli altri ambienti dell’abitazione.
</p>

<h3>Il progetto proposto</h3>
<h3>Soggiorno con camino (DOPO)</h3>
<img src="img/progetti/soggiorno-camino-dopo.gif" class="img-responsive">

<h3>Particolare Caminetto Gia’ Costruito – Vista Frontale</h3>
<img src="img/progetti/camino-vista-frontale.gif" class="img-responsive">

<h3>Particolare caminetto già’ costruito – sezione </h3>
<img src="img/progetti/camino-sezione.gif" class="img-responsive">

<h3>Esempio di caminetto già realizzato</h3>
<img src="img/progetti/visualizzazione-caminetto.gif" class="img-responsive">

<div ng-controller="RusticoController as proj">
  <center>
    <div class="projectdiv" ng-repeat="project in proj.projects">
      <a class="vlightbox1" href="img/progetti/{{project.src}}.jpg"><img src="img/progetti/miniature/{{project.src}}-150x150.jpg" class="img-repsonsive"></a>
    </div>
  </center>
</div>
