<h1 class="pagetitle">Ristrutturazione di una casa in città</h1>

<h3>Casa in città</h3>
<p>Vogliamo ristrutturare il nostro appartamento datato intorno agli anni ’60 di circa mq. 120 per renderlo più funzionale e con una distribuzione più moderna, anche nell’eventualità di dover dare in locazione la casa.<br>
  Vorremmo mantenere le due camere da letto (quella matrimoniale e quella singola per nostro figlio), ma ci piacerebbe che la camera matrimoniale avesse un piccolo bagno riservato e uno spogliatoio annesso, mentre il bagno principale della casa resta quello già esistente.<br>
  Vorremmo eliminare l’ingresso a favore del salone per renderlo più ampio e comunicante con la cucina che va riorganizzata e deve contenere anche la lavatrice.<br>
  [Giancarlo e Marina L., Poggibonsi (SI)]</p>
<img src="img/progetti/stato-di-fatto-citta.gif" class="img-responsive">
<h3>La consulenza di Progettazione-interni</h3>
<p>Si è dotata la camera matrimoniale di un piccolo bagno riservato che contiene tutti i sanitari essenziali, essendo costituito da un vano antibagno attrezzato di lavabo e da un successivo piccolo bagno in cui i sanitari (vaso, bidet e doccia) sono disposti in linea, in economia di spazio.<br>
  Utilizzando parte dello spazio del ripostiglio e una piccola porzione di spazio della cucina si è ricavato un comodo spogliatoio, accessibile dalla camera matrimoniale.<br>
  L’essenziale lavanderia, contenente pilozza/lavabo e lavatrice, è attigua alla cucina .<br>
  Si è eliminato l’ingresso, inteso come locale rigidamente definito e a se stante, rendendolo direttamente comunicante con il soggiorno; quest’ultimo comunica con la cucina-pranzo attraverso un’ampia porta scorrevole, cosicché ingresso, soggiorno, pranzo e cucina costituiscono un’unica area diversamente articolata.<br>
  Si è realizzato lo studio eliminando la dispensa in parte recuperata sfruttando un opportuno ribassamento portante del soffitto.
</p>

<h3>Il progetto durante i lavori</h3>
<img src="img/progetti/durante-citta.gif" class="img-responsive">

<h3>Il progetto dopo i lavori</h3>
<img src="img/progetti/dopo-citta.gif" class="img-responsive">

<br>

<img src="img/pdf.png" class="floatleft" class="img-responsive">
<h5>Si può prendere visione del
“PREVENTIVO DI RISTRUTTURAZIONE EDILIZIA”
  <a href="">scarica preventivo PDF</a></h5>

<br>
<h3>Alcune viste virtuali in 3D degli ambienti progettati</h3>
<img src="img/progetti/prospettiva_virtuale-citta.gif" class="img-responsive">

<div ng-controller="CittaController as proj">
  <div class="projectdiv" ng-repeat="project in proj.projects">
    <img src="img/progetti/miniature/{{project.src}}-150x150.gif" class="img-responsive">
  </div>
</div>
