<h1 class="pagetitle">Suddivisione di una casa in campagna in due alloggi</h1>

<h3>Casa in campagna</h3>
<p>Ho ereditato, insieme a mio fratello, una casa in campagna di circa 180 mq.
  <br>
  La casa deve essere divisa, ricavando due appartamenti, ovviamente con ingressi separati, entrambi dotati di soggiorno-cucina (anche in un unico ambiente), due camere da letto, ciascuna dotata di bagno indipendente, spogliatoio e, se possibile, anche con la possibilità di inserire una scrivania per poter tenere la contabilità domestica o quant’altro.<br>
  Preferirei che in ciascun appartamento ci fosse anche la lavanderia, nettamente distinta dal bagno.
  <br><br>
  [Maurizio, Bergamo]
</p>

<img src="img/progetti/stato-di-fatto.gif" class="img-responsive">

<h3>La consulenza di Progettazione-interni</h3>
<p>
  Utilizzando lo spazio a disposizione, si sono ricavati due comodi appartamenti indipendenti, ciascuno di circa 90 mq, collocando gli ingressi entrambi nel prospetto di sud-est, opportunamente distanziati fra di essi. Volendo garantire la “privacy” dei futuri abitanti e l’economia dei percorsi, in entrambi gli appartamenti la zona giorno è ben distinta dalla zona notte.<br><br>
  La zona di ingresso, non rigidamente separata, ma “aperta”, è collegata direttamente con la zona soggiorno e questa a sua volta con la zona pranzo- cucina, per cui i diversi ambienti costituiscono sinteticamente un unico ambito, diversamente articolato.<br>
  In un appartamento quest’ ambito ha dimensioni di circa m 5,50 x 5,50, nell’altro ha dimensioni, di circa m 4,40 x 6,40.<br>
  Successivamente si è ricavato l’ambito bagno e lavanderia; in entrambi i casi il bagno è sufficientemente comodo e dotato di vasca.<br>
  In corrispondenza del disimpegno, tra bagno, lavanderia e camere da letto è stato realizzato un abbassamento portante del soffitto che funge da contenitore (o ripostiglio che dir si voglia) per le camere ad esso adiacenti. (vedi [*] )<br><br>
  Nella camera doppia il mobile contenitore di indumenti, biancheria, ecc.,-da un lato- e libri, quaderni, oggetti vari di cancelleria, ecc. -dall’altro-, preferibilmente accessibile da ambo i lati, è stato posto in modo da dividere la stanza in due parti –una piccola zona notte e una piccola zona giorno-, infatti al di qua del mobile si svolgono le funzioni “dormire” , “riposare”, ecc., al di là “leggere”, “studiare”, “scrivere”, ecc.<br>
  Infine le camere matrimoniali (circa m 4,50 x 4,50)entrambe attrezzate con bagno riservato, dotato di lavabo, vaso, bidet e doccia, annesso il piccolo spogliatoio e l’ “angolo studio”.
  Un particolare di carattere tecnico: la modifica dei prospetti -Nord e Ovest- è consentita, poiché l’abitazione non rientra in zona di piano comunale vincolata.

</p>

<h3>Il progetto proposto</h3>
<p>Sono evidenziate le demolizioni e le costruzioni</p>
<img src="img/progetti/progetto-in-corso.gif" class="img-responsive">

<h3>Il progetto proposto terminato</h3>
<img src="img/progetti/dopo.gif" class="img-responsive">

<h3>Particolari costruttivi dell’abbassamento portante del solaio per il ripostiglio</h3>
<img src="img/progetti/abbassamento1.gif" class="img-responsive">
<img src="img/progetti/abbassamento2.gif" class="img-responsive">
<img src="img/progetti/abbassamento3.gif" class="img-responsive">

<img src="img/pdf.png" class="floatleft">
<h5>Si può prendere visione del
  “PREVENTIVO DI RISTRUTTURAZIONE EDILIZIA”
  <a href="files/suddivisione.pdf">scarica preventivo PDF</a></h5>

<h3>Alcune viste virtuali in 3D degli ambienti progettati</h3>
<img src="img/progetti/prospettiva-virtuale.gif" class="img-responsive">

<div ng-controller="CampagnaController as proj">
  <div class="projectdiv" ng-repeat="project in proj.projects">
    <a class="vlightbox1" href="img/progetti/{{project.src}}.gif"><img ng-src="img/progetti/miniature/{{project.src}}-150x150.gif" class="img-responsive"></a>
  </div>
</div>
